#contact {
	padding:20px 0;
}
.input-80 {
	max-width: 93%;
	width: 85%;
}
#formResponse {
	font-weight: bold;
	background-color: #FCF8E3;
	border-radius: 5px;
	padding: 10px;
	color: #5C441B;
}
.formUnfilled {
	display: none;
}
label.error {
  color: red;
  padding: 2px 0;
  margin-top: 2px;
  margin-bottom: -10px;
}
.warning {
	color: red;
}
/* Manual Code  */
.form-horizontal .control-label {
	width: 18%;
	max-width: 50%;
	text-align: left;
}
.form-horizontal .controls {
	margin-left: 60px;
}
input[type="text"]{
	height: 25px;
}
textarea {
	height: 120px;
}

.alert-error {
	background-color: #f2dede;
	border-color: #eed3d7;
	color: #b94a48;
}
.alert{
	color: #c09853;
}
.alert-success {
	background-color: #dff0d8;
	border-color: #d6e9c6;
	color: #468847;
	padding: 10px;
	margin-bottom: 10px;
}
#recaptcha_widget_div{
	float: left;
	margin-top: -45px;
}